<div class="mt-4">
  <nav aria-label="breadcrumb" class="d-flex justify-content-between align-items-center breadcrumb-bar">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">User List</li>
    </ol>
    <button *ngIf="hasAccess([1, 2])" class="btn btn-primary ms-2" [routerLink]="'/admin/user-management'">Add User</button>
  </nav>

  <div class="form-container">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email Address</th>
                <th>Role</th>
                <th>Status</th>
                <th>Created Date</th>
                <th>Created By</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of paginatedgroupUserList; let i = index">
                <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                <td>{{item.name}}</td>
                <td>{{item.emailAddress}}</td>
                <td>{{item.roleName}}</td>
                <td>{{item.status}}</td>
                <td>{{item.createdDate | date:'dd/MM/yyyy'}}<br /><span style="color: gray; font-size: x-small;">{{item.createdDate | date:'HH:mm'}}</span></td>
                <td>{{item.createdBy}}</td>
                <td><a class="btn p-0 fs-4" routerLink="/admin/user-management/{{item.userId}}" *ngIf="hasAccess([1])"><i class="entypo entypo-pencil"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <app-pagination [currentPage]="currentPage"
                        [itemsPerPage]="itemsPerPage"
                        [totalItems]="totalItems"
                        [totalPages]="totalPages"
                        (pageChanged)="onPageChange($event)"
                        (pagesizeChanged)="onPagesizeChange($event)">
        </app-pagination>
      </div>
    </div>
  </div>
</div>
